<div>
        <div class="row">
                <div id="btn-container">
                    <div class="section-header" (click)="setCategory('dnd')">
                        DnD
                    </div>

                    <div class="category-content" [hidden]="openCategory != 'dnd'">
                        <button class="btn" id="d-4" (click)="rollDice('d4')">
                            d4
                        </button>
                
                        <button class="btn" id="d-6" (click)="rollDice('d6')">
                            d6
                        </button>
                
                        <button class="btn" id="d-8" (click)="rollDice('d8')">
                            d8
                        </button>
                
                        <button class="btn" id="d-10" (click)="rollDice('d10')">
                            d10
                        </button>
                
                        <button class="btn" id="d-12" (click)="rollDice('d12')">
                            d12
                        </button>
                
                        <button class="btn" id="d-20" (click)="rollDice('d20')">
                            d20
                        </button>
                    </div>

                    <div class="section-header header-non-top" (click)="setCategory('other_numeric')">
                        Other Numeric
                    </div>

                    <div class="category-content" [hidden]="openCategory != 'other_numeric'">
                        <button class="btn" id="d-2" (click)="rollDice('d2')">
                            d2
                        </button>

                        <button class="btn" id="d-2" (click)="rollDice('d3')">
                            d3
                        </button>

                        <button class="btn" id="d-2" (click)="rollDice('d5')">
                            d5
                        </button>

                        <button class="btn" id="d-2" (click)="rollDice('d7')">
                            d7
                        </button>

                        <button class="btn" id="d-2" (click)="rollDice('d14')">
                            d14
                        </button>

                        <button class="btn" id="d-2" (click)="rollDice('d16')">
                            d16
                        </button>

                        <button class="btn" id="d-2" (click)="rollDice('d24')">
                            d24
                        </button>

                        <button class="btn" id="d-2" (click)="rollDice('d30')">
                            d30
                        </button>
                
                        <button class="btn" id="d-100" (click)="rollDice('d100')">
                            d100
                        </button>
                    </div>

                    <div class="section-header header-non-top" (click)="setCategory('other_symbolic')">
                        Symbolic Dice
                    </div>

                    <div class="category-content" [hidden]="openCategory != 'other_symbolic'">
                        <button class="btn" (click)="rollSymbolicDice('Fudge')">
                            Fudge
                        </button>

                        <button class="btn" (click)="rollSymbolicDice('Fudge4')">
                            4 Fudge
                        </button>

                        <button class="btn" (click)="rollSymbolicDice('Coin')">
                            Coin
                        </button>
                    </div>

                    <div class="section-header header-non-top" (click)="setCategory('custom_dice')">
                        Custom Dice
                    </div>

                    <div class="category-content" [hidden]="openCategory != 'custom_dice'">
                        <div *ngFor="let dice of customNumberDice; let i = index;" 
                              class="btn-wrapper">
                                <button class="btn"
                                        (click)="rollRandomNumeric(i)" >
                                    {{ dice.name }}
                                </button>
                                <span class="dlt-btn" (click)="deleteRandomNumeric(i)">x</span>
                        </div>

                        <div *ngFor="let dice of customSymbolicDice; let i = index;" 
                              class="btn-wrapper">
                              <button class="btn"
                                        (click)="rollRandomSymbolic(i)" >
                                    {{ dice.name }}
                              </button>
                              <span class="dlt-btn" (click)="deleteRandomSymbolic(i)">x</span>
                        </div>

                        <button class="btn"
                                (click)="createRandomNumeric()">
                            Custom Numeric
                        </button>
                
                        <button class="btn"
                                (click)="createRandomSymbolic()">
                            Custom Symbolic
                        </button>

                    </div>

                    <div class="section-header header-non-top" (click)="setCategory('dice_mechanics')">
                        Dice Mechanics
                    </div>

                    <div class="category-content" [hidden]="openCategory != 'dice_mechanics'">
                        <div>
                            <div class="input-title">
                                Number Of Dice
                            </div>
                            <input type="number" class="nr_dice" name="nr_dice"  [(ngModel)]="nr_dice">
                        </div>
                    </div>


                </div>

                <div id="rolls-container">

                    <result-row *ngFor="let result of results; let i = index;" 
                                [result]="result"
                                [index]="i">
                    </result-row>

                </div>
        </div>

        <div class="modal" [ngClass]="{'active': modalOpen}">
            <div class="modal-content">
              <div class="close-container">
                <span class="close" (click)="closeModal()">&times;</span>
              </div>
              <div id="custom-numeric-form" *ngIf="modalMode === 'numeric'" >
                <div>
                    <input type="text" name="custom_num_name" placeholder="Dice name" [(ngModel)]="custom_num_name">
                </div>
                <div>
                    <input min="1" type="number" name="custom_num_min" id="custom_num_min" placeholder="Minimum" [(ngModel)]="custom_num_min" >
                </div>
                <div>
                    <input type="number" min="1" name="custom_num_max" id="custom_num_max" placeholder="Maximum" [(ngModel)]="custom_num_max">
                </div>
                <button class="btn btn-200" (click)="saveRandomNumeric()">
                    Create
                </button>
              </div>
              <div id="custom-numeric-form" *ngIf="modalMode === 'symbolic'" >
                <div>
                    <input type="text" name="custom_sym_name" placeholder="Dice name" [(ngModel)]="custom_sym_name">
                </div>
                <div>
                    <input type="text" name="custom_sym_symbols" placeholder="Symbols" [(ngModel)]="custom_sym_symbols">
                </div>
                <button class="btn btn-200" (click)="saveRandomSymbolic()">
                    Create
                </button>
              </div>
            </div>
        </div>
</div>