html {
	--primary-color: #00FDDC;
	--secondary-color: #FF5111;

	--primary-font-color: #000;
	--secondary-font-color: #FFF;

	--font-size: 16px;
}

html {
	font-size: var(--font-size);
}

.section {
	width: 100vw;
	height: 100vh;
}

.prime-section {
	background: var(--primary-color);
	color: var(--primary-font-color);
}

.sec-section {
	background: var(--secondary-color);
	color: var(--secondary-font-color);
}
